/* ===== Google Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');

/* ===== Reset ===== */
*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#faf8f3;
color:#1d1d1d;
overflow-x:hidden;
}

/* ===== Navbar ===== */

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,.95);
backdrop-filter:blur(12px);
box-shadow:0 5px 25px rgba(0,0,0,.05);
z-index:1000;
}

.logo h2{
font-family:'Cormorant Garamond',serif;
font-size:34px;
font-weight:700;
color:#0f3b2f;
}

.logo span{
color:#c79a2d;
}

.navbar ul{
display:flex;
gap:35px;
list-style:none;
}

.navbar a{
text-decoration:none;
color:#222;
font-weight:500;
transition:.3s;
}

.navbar a:hover{
color:#c79a2d;
}

/* ===== Hero ===== */

.hero{
padding:150px 8% 100px;
display:flex;
justify-c
